<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/assets/css/header.css">
  </head>
  <body>
    <header class="header">
      <div class="left-section-header">
        <button class="logo-button">LOGO</button>
      </div>
      <div class="middle-section-header">
        <input class="search-bar" placeholder="Search">
        <button class="search-button">
          <img class="search-icon" src="/assets/images/search-icon.png">
        </button>
      </div>
      <nav class="right-section-header">
        <div class="icon-element">
          <img src="/assets/images/home2-icon.png" class="nav-icons">
          <p class="icon-name">Home</p>
        </div>
        <div class="icon-element">
          <img src="/assets/images/about-icon.png" class="nav-icons">
          <p class="icon-name">About</p>
        </div>
        <div class="icon-element">
          <img src="/assets/images/help2-icon.png" class="nav-icons">
          <p class="icon-name">Help</p>
        </div>
        <div class="icon-element">
          <img src="/assets/images/contact3-icon.png" class="nav-icons">
          <p class="icon-name">Contact</p>
        </div>
        <div class="icon-element">
          <img src="/assets/images/account-icon.png" class="login-icon">
          <p class="icon-name">Account</p>
        </div>
      </nav>
    </header>
  </body>
</html>